In [2]:
import pandas as pd

In [3]:
my_list=[1,2,3,4,5]
int_series=pd.Series(my_list)

In [4]:
int_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
pd.Series(("P","y","t","h","o","n"))

0    P
1    y
2    t
3    h
4    o
5    n
dtype: object

In [6]:
date_time = pd.date_range(start="01-01-2001", end="04-01-2001")

In [13]:
date_time.year

Int64Index([2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001,
            2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001,
            2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001,
            2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001,
            2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001,
            2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001,
            2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001,
            2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001,
            2001, 2001, 2001],
           dtype='int64')

In [19]:
integers = [1,2,3,4,5]

In [22]:
new_series=pd.Series(integers,index=range(101,106))

In [23]:
new_series

101    1
102    2
103    3
104    4
105    5
dtype: int64

In [26]:
i=range(201,207)

In [27]:
i

range(201, 207)

## new tut

In [30]:
## dataframes

In [31]:
maths_marks = [7,8,10,2,5]

In [32]:
students_names = ['a','b','c','d','e']

In [40]:
reg={
    "names" : students_names,
    "marks" : maths_marks
}

In [41]:
reg

{'names': ['a', 'b', 'c', 'd', 'e'], 'marks': [7, 8, 10, 2, 5]}

In [44]:
std=pd.DataFrame(reg, index=range(1,6))

In [45]:
std

  names  marks
1     a      7
2     b      8
3     c     10
4     d      2
5     e      5

In [61]:
info_1=pd.read_csv('info.csv')
info_1.set_index('roll_no')

         name   marks
roll_no
1           a     100
2           b      50
3           c      60
4           d     100
5           e      99

In [63]:
info_1.shape

(5, 3)